.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.panel{
    
    width: 600px;
    background-color: green;
}
#titlePanel{
    margin-top: 5%;
}