/*Styling radioboxes as seen @ https://www.sitepoint.com/replacing-radio-buttons-without-replacing-radio-buttons/
Ever so slightly customized though.*/
[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* One button per line */
label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.5em;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: #282a2d;
  box-shadow: 0 0 0 0.25em #282a2d;
}

/* never forget focus styling */

legend{
    font-size: 1.5em;
    background: #282a2d;
    border-radius: 1em;
    color: white;
    padding: 0.25em 1em;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.panel{
    
    width: 600px;
    background-color: white;

}

#titlePanel{
    margin-top: 5%;
    text-align: center;
    border: solid black 2px;
    border-radius: 1em;
}
#button{
    background-color: #282a2d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}